.DS_Store
Thumbs.db
.idea
*.log
*.jdbc
*.iml
target
*.class
*.jar
*.war
*.ear
*.rar
*.ipr
*.iws
rebel.xml
*DB
*.dat
.classpath
.project
.settings
WebContent
*.vpp~*
*.vpdm
vpproject
.vpprefdata
*dummy*.*
*-soapui-project.xml
.lock
teamworkUser.xml
projectFilesBackup*
*.zip
*.gzprojectFilesBackup*
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/